<!DOCTYPE html>
<html lang="en">
<head>
	<title>100% Riciclo Console</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="lib/jqueryui/external/jquery/jquery.js"></script>
	<script src="lib/jqueryui/jquery-ui.min.js"></script>
	<script src="lib/jqueryui/jquery-ui-datepicker-it.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/jqueryui/jquery-ui.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="lib/jqueryui/images/favicon.png" type="image/x-icon" />
</head>
<body data-ng-app="calendariraccolta" data-ng-controller="userCtrl">
	<div data-ng-include="'html/navbar.html'"></div>

	<div class="container-fluid">

		<div class="list-title">
			<h4>Elenchi CALENDARI RACCOLTA</h4>
		</div>

			<div id="error" class="alert alert-danger fade in" data-ng-show="error">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetError()">&times;</a>
				{{errorMsg}}
			</div>

			<div id="ok" class="alert alert-success fade in" data-ng-show="ok">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetOk()">&times;</a>
				{{okMsg}}
			</div>

			<div id="divForm" class="modal modal-wide fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
			      <div class="modal-header" data-ng-class="getModalHeaderClass()">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 data-ng-show="create">CREA nuovo Calendario Raccolta</h4>
							<h4 data-ng-show="edit && !view">MODIFICA {{getActualName()}}</h4>
							<h4 data-ng-show="view">VEDI {{getActualName()}}</h4>
			      </div>
			      <div class="modal-body">
							<div id="errorForm" class="alert alert-danger fade in" data-ng-show="error">
								<a href="#" class="close" data-hide="alert" aria-label="close"
								data-ng-click="resetError()">&times;</a>
								{{errorMsg}}
							</div>
			      	<p class="text-danger pull-right">I campi contrassegnati con il simbolo
			      	<span class="glyphicon glyphicon-asterisk"></span> sono obbligatori</p>
							<form role="form">
						   	<div class="row form-group">
					    		<label class="col-md-1 control-label">Tipologia Utenza:</label>
					    		<div class="col-md-2">
					    			<select class="form-control" data-ng-model="selectedTipologiaUtenza" data-ng-disabled="!edit && !create"
					    				data-ng-options="item.objectId for item in tipologiaUtenzaList">
      							</select>
      						</div>
      						<span class="text-danger glyphicon glyphicon-asterisk"></span>
					  		</div>
								<div class="row form-group">
									<label class="col-md-1 control-label">Area:</label>
									<div class="col-md-2">
					    			<select class="form-control" data-ng-model="selectedArea" data-ng-disabled="!edit && !create"
					    				data-ng-options="item.nome for item in areaList">
      							</select>
									</div>
									<span class="text-danger glyphicon glyphicon-asterisk"></span>
								</div>
								<div class="row form-group">
									<label class="col-md-1 control-label">Tipologia Punto Raccolta:</label>
									<div class="col-md-2">
							    	<select class="form-control" data-ng-model="selectedTipologiaPuntoRaccolta"
							    		data-ng-disabled="!edit && !create"
							    		data-ng-options="item.objectId for item in tipologiaPuntoRaccoltaList">
		      					</select>
		      				</div>
		      				<span class="text-danger glyphicon glyphicon-asterisk"></span>
								</div>
							</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
					  	<button class="btn btn-primary" data-ng-disabled="view || error || incomplete"
					  		data-ng-show="edit" data-dismiss="modal" data-ng-click="saveItem()">Modifica
					  	</button>
					  	<button class="btn btn-success" data-ng-disabled="view || error || incomplete"
					  		data-ng-show="create" data-dismiss="modal" data-ng-click="saveItem()">Crea
					  	</button>
			      </div>
					</div>
				</div>
			</div>

			<div id="divDeleteItemAlert" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-body">
							<p>Sei sicuro di voler eliminare l'oggetto?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
							data-target="#divDeleteItemAlert">Annulla</button>
							<button class="btn btn-danger" data-dismiss="modal"
							data-target="#divDeleteItemAlert" data-ng-click="deleteItem()">
							Elimina
							</button>
						</div>
					</div>
				</div>
			</div>

			<div id="divTimetable" class="modal modal-wide fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header timetable">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">IMPOSTA ORARI {{getActualName()}}</h4>
			      </div>
			      <div class="modal-body">
							<div id="errorTimetable" class="alert alert-danger fade in" data-ng-show="error">
								<a href="#" class="close" data-hide="alert" aria-label="close"
								data-ng-click="resetError()">&times;</a>
								{{errorMsg}}
							</div>
							<div id="okTimetable" class="alert alert-success fade in" data-ng-show="ok">
								<a href="#" class="close" data-hide="alert" aria-label="close"
								data-ng-click="resetOk()">&times;</a>
								{{okMsg}}
							</div>

			      	<p class="text-danger pull-right">I campi contrassegnati con il simbolo
			      	<span class="glyphicon glyphicon-asterisk"></span> sono obbligatori</p>
			        <div>
			        	<form name="newDate">
			        		<div class="row form-group">
					        	<label class="col-md-1 control-label">Da:</label>
					        	<div class="col-md-2">
					        		<input type="text" name="dateFrom" data-ng-model="fDateFrom" required datepicker data-showon="both"
					        		data-dateformat="yy-mm-dd" placeholder="da" />
					        		<span class="text-danger glyphicon glyphicon-asterisk"></span>
					        		<!-- <span class="label label-warning" data-ng-show="!newDate.dateFrom.$valid">Campo richiesto</span> -->
					        	</div>
					        	<label class="col-md-1 control-label">A:</label>
				        		<div class="col-md-2">
				        			<input type="text" name="dateTo" data-ng-model="fDateTo" required datepicker data-showon="both"
				        			data-dateformat="yy-mm-dd" placeholder="a">
				        			<span class="text-danger glyphicon glyphicon-asterisk"></span>
				        			<!-- <span class="label label-warning" data-ng-show="!newDate.dateTo.$valid">Campo richiesto</span> -->
				        		</div>
			        		</div>
				        	<div class="row form-group">
				        		<label class="col-md-1 control-label">Dalle (HH:MM):</label>
				        		<div class="col-md-2">
				        			<input type="text" name="hourFrom" data-ng-model="fHourFrom" placeholder="dalle (HH:MM)"
				        			data-ng-pattern="/([0-1][0-9]|2[0-3]):[0-5][0-9]/">
				        			<span class="label label-warning" data-ng-show="!newDate.hourFrom.$valid">Verifica il campo</span>
				        		</div>
				        		<label class="col-md-1 control-label">Alle (HH:MM):</label>
				        		<div class="col-md-2">
				        			<input type="text" name="hourTo" data-ng-model="fHourTo" placeholder="alle (HH:MM)"
				        			data-ng-pattern="/([0-1][0-9]|2[0-3]):[0-5][0-9]/">
				        			<span class="label label-warning" data-ng-show="!newDate.hourTo.$valid">Verifica il campo</span>
				        		</div>
	    						</div>
			        	</form>
			        </div>
			        <div>
			        	<label>Giorni lavorativi:</label>
						    <div class="radio" >
						    	<form>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="lunedì">Lunedì</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="martedì">Martedì</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="mercoledì">Mercoledì</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="giovedì">Giovedì</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="venerdì">Venerdì</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="sabato">Sabato</label>
						    		<label class="radio-inline"><input type="radio" data-ng-model="fDateDayOfWeek" value="domenica">Domenica</label>
	 									<button class="btn btn-default" data-ng-click="fDateDayOfWeek = ''">
	 										<span class="glyphicon glyphicon-remove-circle"></span>
	 									</button>
						    	</form>
								</div>
								<label class="control-label">Inserisci le date specifiche:</label>
								<form>
									<div class="row form-group">
										<label class="col-md-1 control-label">Data:</label>
										<div class="col-md-3">
											<input type="text" data-ng-model="fDateWorkingDay" datepicker
											data-showon="both" data-dateformat="dd/mm/yy"/>
											<button class="btn btn-link" data-ng-click="addWorkingDay()"
											data-ng-disabled="!fDateWorkingDay">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
											<button class="btn btn-link" data-ng-click="deleteWorkingDay()"
											data-ng-disabled="!fDateWorkingDaySelected">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-md-4">
											<select multiple class="form-control" data-ng-model="fDateWorkingDaySelected">
												<option data-ng-repeat="item in fDateWorkingDayList track by $index" value="$index">{{item}}</option>
											</select>
										</div>
									</div>
								</form>
			        </div>
			        <div>
			        	<label>Aggiungi eccezioni:</label>
			        	<form>
				        	<div class="row form-group">
				        		<label class="col-md-1 control-label">Data:</label>
				        		<div class="col-md-3">
											<input type="text" data-ng-model="fDateExceptionDay" datepicker
											data-showon="both" data-dateformat="dd/mm/yy"/>
											<button class="btn btn-link" data-ng-click="addExceptionDay()"
											data-ng-disabled="!fDateExceptionDay">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
											<button class="btn btn-link" data-ng-click="deleteExceptionDay()"
											data-ng-disabled="!fDateExceptionDaySelected">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
				        		</div>
				        	</div>
				        	<div class="row form-group">
				        		<div class="col-md-4">
											<select multiple class="form-control" data-ng-model="fDateExceptionDaySelected">
												<option data-ng-repeat="item in fDateExceptionDayList track by $index" value="$index">{{item}}</option>
											</select>
										</div>
				        	</div>
			        	</form>
			        </div>
			        <form>
				        <div class="row form-group">
						   		<label class="col-md-1 control-label">Note:</label>
									<div class="col-md-2">
										<button type="button" class="btn btn-default" data-ng-click="changeLanguage('it')"
											data-ng-class="{'active':language == 'it'}">
							   			IT
							 			</button>
										<button type="button" class="btn btn-default" data-ng-click="changeLanguage('en')"
											data-ng-class="{'active':language == 'en'}">
							   			EN
							 			</button>
									</div>
									<div class="col-md-1">
										<button class="btn btn-success" data-ng-click="setNote()">
											Salva Nota
										</button>
									</div>
									<label class="col-md-3 control-label">Note IT</label>
									<label class="col-md-3 control-label">Note EN</label>
				        </div>
				        <div class="row form-group">
				        	<div class="col-md-3">
				        		<textarea class="form-control" rows="2" data-ng-model="fDateNotes" placeholder="note"></textarea>
				        	</div>
				        	<div class="col-md-1"></div>
				        	<div class="col-md-3">
				        		{{timetableDateNotes['it']}}
				        	</div>
				        	<div class="col-md-3">
				        		{{timetableDateNotes['en']}}
				        	</div>
				        </div>
			        </form>
							<div class="row">
								<div class="col-md-2">
									<button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
							  	<button class="btn btn-warning" data-ng-click="addTimetable()"
							  	data-ng-disabled="timetableError || timetableIncomplete">
							  		Aggiungi orario
							  	</button>
								</div>
							</div>
							<div class="row list-header-timetable">
								<div class="col-md-1"><h4>Da</h4></div>
								<div class="col-md-1"><h4>A</h4></div>
								<div class="col-md-1"><h4>Dalle</h4></div>
								<div class="col-md-1"><h4>Alle</h4></div>
								<div class="col-md-2"><h4>Il</h4></div>
								<div class="col-md-2"><h4>Eccezione</h4></div>
								<div class="col-md-2"><h4>Note</h4></div>
								<div class="col-md-2"><h4></h4></div>
							</div>
			        <div class="row list-row" data-ng-repeat="timetable in timetableList">
			        	<div class="col-md-1">
									<span>{{timetable.dataDa}}</span>
								</div>
			        	<div class="col-md-1">
									<span>{{timetable.dataA}}</span>
								</div>
			        	<div class="col-md-1">
									<span>{{timetable.dalle}}</span>
								</div>
			        	<div class="col-md-1">
									<span>{{timetable.alle}}</span>
								</div>
			        	<div class="col-md-3">
									<span>{{timetable.il}}</span>
								</div>
			        	<div class="col-md-2">
									<span>{{timetable.eccezione}}</span>
								</div>
			        	<div class="col-md-2">
									<span>{{timetable.note[language]}}</span>
								</div>
								<div class="col-md-1">
									<button class="btn btn-danger" data-toggle="modal" data-target="#divDeleteTimetableAlert"
									data-backdrop="static" data-ng-click="setItemToDelete($index)" title="Cancella">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>

			<div id="divDeleteTimetableAlert" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-body">
							<p>Vuoi veramente eliminare l'orario?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
							data-target="#divDeleteTimetableAlert">Annulla</button>
							<button class="btn btn-danger" data-dismiss="modal"
							data-target="#divDeleteTimetableAlert" data-ng-click="deleteTimetable()">
							Elimina
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="list-create">
				<button class="btn btn-success" data-toggle="modal" data-target="#divForm"
					data-backdrop="static" data-ng-click="newItem()" title="Crea">
						CREA NUOVO ELEMENTO
				</button>
			</div>

		<hr>

		<div class="row list-search">
			<div class="col-md-2">
				<span class="glyphicon glyphicon-search"></span>
				<label control-label">Cerca:</label>
				<input type="text" data-ng-model="search">
			</div>
			<div class="col-md-2">
				<span class="glyphicon glyphicon-eye-open"></span> Visualizza
				<button type="button" class="btn btn-default" data-ng-click="changeLanguage('it')"
					data-ng-class="{'active':language == 'it'}">
	   			IT
	 			</button>
				<button type="button" class="btn btn-default" data-ng-click="changeLanguage('en')"
					data-ng-class="{'active':language == 'en'}">
	   			EN
	 			</button>
			</div>
		</div>

		<div class="row list-header">
			<div class="col-md-3"><h4>Area</h4></div>
			<div class="col-md-4"><h4>Tipologia Utenza</h4></div>
			<div class="col-md-3"><h4>Tipologia Punto Raccolta</h4></div>
			<div class="col-md-2"><h4></h4></div>
		</div>
		<div class="row list-row" data-ng-repeat="relation in calendarioRaccoltaList | filter:search">
			<div class="col-md-3">
				<span>{{getAreaName(relation.area)}}</span>
			</div>
			<div class="col-md-4">
				<span>{{getTipologiaUtenzaName(relation.tipologiaUtenza)}}</span>
			</div>
			<div class="col-md-3">
				<span>{{getTipologiaPuntoRaccoltaName(relation.tipologiaPuntoRaccolta)}}</span>
			</div>
			<div class="col-md-2">
				<button class="btn btn-info" data-toggle="modal" data-target="#divForm"
				data-backdrop="static" data-ng-click="editItem(relation.objectId, false)" title="Vedi">
					<span class="glyphicon glyphicon-eye-open"></span>
				</button>
				<button class="btn btn-primary" data-toggle="modal" data-target="#divForm"
				data-backdrop="static" data-ng-click="editItem(relation.objectId, true)" title="Modifica">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button class="btn btn-danger" data-toggle="modal" data-target="#divDeleteItemAlert"
				data-backdrop="static" data-ng-click="setItemToDelete(relation.objectId)" title="Cancella">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<button class="btn btn-warning" data-toggle="modal" data-target="#divTimetable"
				data-backdrop="static" data-ng-click="editItem(relation.objectId, true)" title="Orari">
					<span class="glyphicon glyphicon-time"></span>
				</button>
			</div>
		</div>

	</div>

	<script src="js/services.js"></script>
	<script src="js/calendariraccolta.js"></script>

</body>
</html>
