<!DOCTYPE html>
<html lang="en">
<head>
	<title>100% Riciclo Console</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="lib/jqueryui/external/jquery/jquery.js"></script>
	<script src="lib/jqueryui/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/jqueryui/jquery-ui.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-app="istituzioni" data-ng-controller="userCtrl">
	<div data-ng-include="'html/navbar.html'"></div>

	<div class="container-fluid">
		<div class="well well-sm">
			<h4>
				Istituzione
				<button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="changeLanguage('en')"
					data-ng-class="{'active':language == 'en'}">
	   			<span class="glyphicon glyphicon-flag"></span> EN
	 			</button>
				<button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="changeLanguage('it')"
					data-ng-class="{'active':language == 'it'}">
	   			<span class="glyphicon glyphicon-flag"></span> IT
	 			</button>
 			</h4>
		</div>
		<div class="panel-group">
		
			<div id="error" class="alert alert-danger fade in" data-ng-show="error">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetError()">&times;</a>
				{{errorMsg}}
			</div>
			
			<div id="error" class="alert alert-success fade in" data-ng-show="ok">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetOk()">&times;</a>
				{{okMsg}}
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
					<button class="btn btn-link" data-ng-click="newGestore()">
						<span class="glyphicon glyphicon-grain"></span>  Crea nuovo elemento
					</button>
					<button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="draft=true"
						data-ng-class="{'active':draft}">
		   			<span class="glyphicon glyphicon-tags"></span> draft
		 			</button>
					<button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="draft=false"
						data-ng-class="{'active':!draft}">
		   			<span class="glyphicon glyphicon-tags"></span> prod
		 			</button>
				</div>
			</div>			
						
			<div class="panel panel-default">
	  		<div class="panel-body">
					<h4 data-ng-show="create">Crea:</h4>
					<h4 data-ng-show="edit">Modifica:</h4>
					<form role="form">
				   	<div class="form-group">
				    	<label class="control-label">Nome:</label>
				    	<input type="text" name="nome" data-ng-model="fNome" 
				    	data-ng-disabled="!edit && !create" placeholder="nome">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Descrizione ({{language}}):</label>
				    	<input type="text" name="descrizione" data-ng-model="fDescrizione" 
				    	data-ng-disabled="!edit && !create" placeholder="dettagli zona">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Indirizzo ({{language}}):</label>
				    	<input type="text" name="indirizzo" data-ng-model="fIndirizzo" 
				    	data-ng-disabled="!edit && !create" placeholder="indirizzo">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Ufficio:</label>
				    	<input type="text" name="ufficio" data-ng-model="fUfficio" 
				    	data-ng-disabled="!edit && !create" placeholder="ufficio">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Orario Ufficio ({{language}}):</label>
				    	<input type="text" name="orarioUfficio" data-ng-model="fOrarioUfficio" 
				    	data-ng-disabled="!edit && !create" placeholder="orario ufficio">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Telefono:</label>
				    	<input type="text" name="telefono" data-ng-model="fTelefono" 
				    	data-ng-disabled="!edit && !create" placeholder="telefono">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Fax:</label>
				    	<input type="text" name="fax" data-ng-model="fFax" 
				    	data-ng-disabled="!edit && !create" placeholder="fax">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">E-mail:</label>
				    	<input type="text" name="email" data-ng-model="fEmail" 
				    	data-ng-disabled="!edit && !create" placeholder="e-mail">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">PEC:</label>
				    	<input type="text" name="pec" data-ng-model="fPec" 
				    	data-ng-disabled="!edit && !create" placeholder="pec">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Sito web:</label>
				    	<input type="text" name="sito" data-ng-model="fSito" 
				    	data-ng-disabled="!edit && !create" placeholder="sito web">
				    </div>
				   	<div class="form-group">
				    	<label class="control-label">Pagina Facebook:</label>
				    	<input type="text" name="facebook" data-ng-model="fFacebook" 
				    	data-ng-disabled="!edit && !create" placeholder="facebook">
				    </div>
						<div class="form-group">
							<label class="control-label">Latitudine:</label>
	    				<input id="latitude" type="text" data-ng-model="fLatitude" placeholder="Latitudine">
	    			</div>
	    			<div class="form-group">
	    				<label class="control-label">Longitudine:</label>
	    				<input id="longitude" type="text" data-ng-model="fLongitude" placeholder="Longitudine">
	    			</div>
						<button class="btn btn-default" data-ng-disabled="!edit && !create" data-ng-click="resetForm()">
							<span class="glyphicon glyphicon-remove"></span> Cancella
						</button>
				  	<button class="btn btn-success" data-ng-disabled="error || incomplete"
				  		data-ng-click="saveGestore()">
				  		<span class="glyphicon glyphicon-save"></span> Salva
				  	</button> 
					</form>	
	  		</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<input id="address" class="form-control input-md" placeholder="Indirizzo">
					<p><div id="map_canvas" style="width:100%; height:450px"></div></p>
   			</div>					
			</div>				
					
			<div class="panel panel-default">
				<div class="panel-body">
					<label class="control-label">Cerca:</label>
					<p>
						<input type="text" data-ng-model="search">
						<button class="btn btn-default btn-sm" data-ng-click="search = ''">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</p>
					<div class="row" style="background-color:lavender;">
						<div class="col-md-1"><h4>Modifica</h4></div>
						<div class="col-md-3"><h4>Nome</h4></div>
						<div class="col-md-3"><h4>Ufficio</h4></div>
						<div class="col-md-4"><h4>Descrizione</h4></div>
						<div class="col-md-1"><h4>Cancella</h4></div>
					</div>
					<div class="row list-row" data-ng-repeat="item in istituzioneList | filter:search ">
						<div class="col-md-1" >
							<button class="btn btn-primary" data-ng-click="editGestore(item.objectId)">
								<span class="glyphicon glyphicon-pencil"></span>  Modifica
							</button>
						</div>
						<div class="col-md-3">
							<span>{{item.nome}}</span>
						</div>
						<div class="col-md-3">
							<span>{{item.ufficio}}</span>
						</div>
						<div class="col-md-4">
							<span>{{item.descrizione[language]}}</span>
						</div>
						<div class="col-md-1">
							<button class="btn btn-danger" data-ng-click="deleteGestore(item.objectId)">
								<span class="glyphicon glyphicon-remove"></span>  Cancella
							</button>
						</div>
					</div>
				</div>
			</div>
				
		</div>
			
	</div>
		
	<script src = "js/services.js"></script>
	<script src = "js/istituzioni.js"></script>
	
	<script type='text/javascript'>
	var geocoder;
	var map;
	var marker;
	
	var ne = new google.maps.LatLng(46.559144, 11.995377);
  var sw = new google.maps.LatLng(45.720602, 10.429475);
  
	function initializeMap() {
		var TRENTO = new google.maps.LatLng(46.073058, 11.120620);
		var options = {
				disableDoubleClickZoom: true,
				scrollwheel: false,
				streetViewControl: false,
		    zoom: 13,
		    center: TRENTO,    
		    mapTypeId: google.maps.MapTypeId.ROADMAP // ROADMAP | SATELLITE | HYBRID | TERRAIN
		  };
		map = new google.maps.Map(document.getElementById("map_canvas"), options);
		geocoder = new google.maps.Geocoder();
		marker = new google.maps.Marker({
	    map: map,
	    draggable: true
	  });
	}

	$(document).ready(function() { 
    
	  initializeMap();
					  
	  $(function() {
	    $("#address").autocomplete({
	      //This uses the geocoder to fetch the address values
	      source: function(request, response) {
	        geocoder.geocode({
	        	'address': request.term,
	        	'region': 'it',
	        	'bounds':  new google.maps.LatLngBounds(sw, ne)
	        	}, 
	        	function(results, status) {
	          response($.map(results, function(item) {
	            return {
	              label:  item.formatted_address,
	              value: item.formatted_address,
	              latitude: item.geometry.location.lat(),
	              longitude: item.geometry.location.lng(),
	              components: item.address_components,
	            }
	          }));
	        })
	      },
	      //This is executed upon selection of an address
	      select: function(event, ui) {
	        $("#latitude").val(ui.item.latitude);
	        $("#longitude").val(ui.item.longitude);
	      	angular.element($('#latitude')).triggerHandler('change');
	      	angular.element($('#longitude')).triggerHandler('change');
	        var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
	        marker.setPosition(location);
	        map.setCenter(location);
	      }
	    });
	  });
		
	  //Add a listener to the marker for reverse geocoding
	  google.maps.event.addListener(marker, 'drag', function() {
	    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        if (results[0]) {
	          $('#address').val(results[0].formatted_address);
	          $('#latitude').val(marker.getPosition().lat());
	          $('#longitude').val(marker.getPosition().lng());
		      	angular.element($('#latitude')).triggerHandler('change');
		      	angular.element($('#longitude')).triggerHandler('change');
	        }
	      }
	    });
	  });  
	});	
	
	</script>
</body>
</html>