<!DOCTYPE html>
<html lang="en">
<head>
	<title>100% Riciclo Console</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="lib/jqueryui/images/favicon.png" type="image/x-icon" />
</head>
<body data-ng-app="puntiraccolta" data-ng-controller="userCtrl">
	<div data-ng-include="'html/navbar.html'"></div>

	<div class="container-fluid">

		<div class="list-title">
			<h4>Relazioni ASSOCIA CENTRI-RACCOLTA / ISOLE</h4>
		</div>

			<div id="error" class="alert alert-danger fade in" data-ng-show="error">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetError()">&times;</a>
				{{errorMsg}}
			</div>

			<div id="ok" class="alert alert-success fade in" data-ng-show="ok">
				<a href="#" class="close" data-hide="alert" aria-label="close"
				data-ng-click="resetOk()">&times;</a>
				{{okMsg}}
			</div>

			<div id="divForm" class="modal modal-wide fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
			      <div class="modal-header" data-ng-class="getModalHeaderClass()">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 data-ng-show="create">CREA nuova Associazione</h4>
							<h4 data-ng-show="edit && !view">MODIFICA {{getActualName()}}</h4>
							<h4 data-ng-show="view">VEDI {{getActualName()}}</h4>
			      </div>
			      <div class="modal-body">
							<div id="errorForm" class="alert alert-danger fade in" data-ng-show="error">
								<a href="#" class="close" data-hide="alert" aria-label="close"
								data-ng-click="resetError()">&times;</a>
								{{errorMsg}}
							</div>
			      	<p class="text-danger pull-right">I campi contrassegnati con il simbolo
			      	<span class="glyphicon glyphicon-asterisk"></span> sono obbligatori</p>
							<form role="form">
								<div class="row form-group">
									<label class="col-md-1 control-label">Area:</label>
									<div class="col-md-2">
					    			<select class="form-control" data-ng-model="selectedArea"
					    			data-ng-options="item.nome for item in areaList">
      							</select>
									</div>
									<span class="text-danger glyphicon glyphicon-asterisk"></span>
								</div>
							  <div class="row form-group">
							    <label class="col-md-1 control-label">Tipologia Utenza:</label>
							    <div class="col-md-2">
							    	<select class="form-control" data-ng-model="selectedTipologiaUtenza"
							    		data-ng-options="item.objectId for item in tipologiaUtenzaList">
		      					</select>
		      				</div>
		      				<span class="text-danger glyphicon glyphicon-asterisk"></span>
							  </div>
								<div class="row form-group">
									<label class="col-md-1 control-label">Tipologia Punto Raccolta:</label>
									<div class="col-md-2">
							    	<select class="form-control" data-ng-model="selectedTipologiaPuntoRaccolta"
							    		data-ng-options="item.objectId for item in tipologiaPuntoRaccoltaList">
		      					</select>
		      				</div>
		      				<span class="text-danger glyphicon glyphicon-asterisk"></span>
								</div>
								<div class="row form-group" mass-autocomplete>
									<label class="col-md-1 control-label">Centro Raccolta/Isola:</label>
									<div class="col-md-2">
								    <select id="tiporifiuto" class="form-control" data-ng-model="selectedCrm"
								    	data-ng-options="getCrmName(item.objectId) for item in crmList track by item.objectId">
			      				</select>
									</div>
									<span class="text-danger glyphicon glyphicon-asterisk"></span>
								</div>
							</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
					  	<button class="btn btn-success" data-ng-disabled="error || incomplete"
					  		data-dismiss="modal" data-ng-click="saveItem()">Crea
					  	</button>
			      </div>
					</div>
				</div>
			</div>

			<div id="divDeleteItemAlert" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-body">
							<p>Sei sicuro di voler eliminare l'oggetto?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
							data-target="#divDeleteItemAlert">Annulla</button>
							<button class="btn btn-danger" data-dismiss="modal"
							data-target="#divDeleteItemAlert" data-ng-click="deleteItem()">
							Elimina
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="list-create">
				<button class="btn btn-success" data-toggle="modal" data-target="#divForm"
					data-backdrop="static" data-ng-click="newItem()" title="Crea">
						CREA NUOVO ELEMENTO
				</button>
			</div>

		<hr>

		<div class="row list-search">
			<div class="col-md-2">
				<span class="glyphicon glyphicon-search"></span>
				<label control-label">Cerca:</label>
				<input type="text" data-ng-model="search">
			</div>
			<div class="col-md-2">
				<span class="glyphicon glyphicon-eye-open"></span> Visualizza
				<button type="button" class="btn btn-default" data-ng-click="changeLanguage('it')"
					data-ng-class="{'active':language == 'it'}">
	   			IT
	 			</button>
				<button type="button" class="btn btn-default" data-ng-click="changeLanguage('en')"
					data-ng-class="{'active':language == 'en'}">
	   			EN
	 			</button>
			</div>
		</div>

		<div class="row list-header">
			<div class="col-md-3"><h4>Area</h4></div>
			<div class="col-md-2"><h4>Tipologia Utenza</h4></div>
			<div class="col-md-2"><h4>Tipologia Punto Raccolta</h4></div>
			<div class="col-md-3"><h4>Centro Raccolta/Isola</h4></div>
			<div class="col-md-2"><h4></h4></div>
		</div>
		<div class="row list-row" data-ng-repeat="item in puntoRaccoltaList | filter:search">
			<div class="col-md-3">
				<span>{{getAreaName(item.area)}}</span>
			</div>
			<div class="col-md-2" >
				<span>{{item.tipologiaUtenza}}</span>
			</div>
			<div class="col-md-2" >
				<span>{{item.tipologiaPuntoRaccolta}}</span>
			</div>
			<div class="col-md-3" >
				<span>{{getCrmName(item.crm)}}</span>
			</div>
			<div class="col-md-2">
				<button class="btn btn-danger" data-toggle="modal" data-target="#divDeleteItemAlert"
				data-backdrop="static" data-ng-click="setItemToDelete(item.objectId)" title="Cancella">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>

	</div>

	<script src="js/services.js"></script>
	<script src="js/puntiraccolta.js"></script>

</body>
</html>
