<ion-view>
    <ion-nav-title>
        <div class="nav-title" ng-click="enableIsDevMod()">
            <div class="nav-title-single">{{"Credits"|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-icon ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-content class="info" has-bouncing="false">
        <p class="project" ng-bind-html="'Progetto_CREDITS'|translate"></p>
        <p class="project-desc"><strong>{{'Progetto_DESC'|translate}}</strong>
        </p>
        <p class="version"><strong>{{version}}</strong>
        </p>

        <a ng-click="clickLink('http://www.dolomitiambiente.it/')"><img src="img/da_logo.png" width="200">
        </a>
        <br/>
        <a ng-click="clickLink('http://www.comune.trento.it/')"><img src="img/logo_comune_tn.png" width="200">
        </a>

        <p class="subtitle">{{'Progetto_di'|translate}}</p>
        <a ng-click="clickLink('http://www.comunitrentini.it')"><img src="img/consorzio_comuni_trentini.png" width="175" height="63"></a>
        <br />
        <a ng-click="clickLink('http://www.smartcommunitylab.it')"> <img src="img/logo_sco_fbk.png" width="301"> </a>
    </ion-content>
</ion-view>
