@font-face {
  font-family: 'riapp';
  src:  url('riapp.eot?gxkmvk');
  src:  url('riapp.eot?gxkmvk#iefix') format('embedded-opentype'),
    url('riapp.ttf?gxkmvk') format('truetype'),
    url('riapp.woff?gxkmvk') format('woff'),
    url('riapp.svg?gxkmvk#riapp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="riapp-"], [class*=" riapp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'riapp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.riapp-camion:before {
  content: "\e92b";
}
.riapp-centro-raccolta:before {
  content: "\e92c";
}
.riapp-cornetta:before {
  content: "\e92d";
}
.riapp-porta-porta:before {
  content: "\e92e";
}
.riapp-inerti:before {
  content: "\e929";
}
.riapp-indifferenziato:before {
  content: "\e92a";
}
.riapp-carrellato:before {
  content: "\e900";
}
.riapp-cassonetto:before {
  content: "\e901";
}
.riapp-pericolosi .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.riapp-pericolosi .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.riapp-pericolosi .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.riapp-sacco:before {
  content: "\e905";
}
.riapp-stradale:before {
  content: "\e906";
}
.riapp-altri-rifiuti:before {
  content: "\e907";
}
.riapp-carta:before {
  content: "\e908";
}
.riapp-cartone-bevande:before {
  content: "\e909";
}
.riapp-farmaci:before {
  content: "\e90a";
}
.riapp-imballaggi-metallo:before {
  content: "\e90b";
}
.riapp-imballaggi-plastica:before {
  content: "\e90c";
}
.riapp-indumenti:before {
  content: "\e90d";
}
.riapp-ingombranti:before {
  content: "\e90e";
}
.riapp-legno:before {
  content: "\e90f";
}
.riapp-oggetti-metallo:before {
  content: "\e910";
}
.riapp-oggetti-plastica:before {
  content: "\e911";
}
.riapp-oggetti-vetro:before {
  content: "\e912";
}
.riapp-oli:before {
  content: "\e913";
}
.riapp-organico:before {
  content: "\e914";
}
.riapp-pannolini:before {
  content: "\e915";
}
.riapp-pericolosi-b:before {
  content: "\e916";
}
.riapp-pile:before {
  content: "\e917";
}
.riapp-pneumatici:before {
  content: "\e918";
}
.riapp-raee:before {
  content: "\e919";
}
.riapp-sfalci:before {
  content: "\e91a";
}
.riapp-toner:before {
  content: "\e91b";
}
.riapp-vetro:before {
  content: "\e91c";
}
.riapp-centro-raccolta2:before {
  content: "\e91d";
}
.riapp-contatti:before {
  content: "\e91e";
}
.riapp-contenuti:before {
  content: "\e91f";
}
.riapp-credits:before {
  content: "\e920";
}
.riapp-home:before {
  content: "\e921";
}
.riapp-impostazioni:before {
  content: "\e922";
}
.riapp-profilo:before {
  content: "\e923";
}
.riapp-sistemi-raccolta:before {
  content: "\e924";
}
.riapp-tutorial:before {
  content: "\e925";
}
.riapp-calendario-griglia:before {
  content: "\e926";
}
.riapp-calendario-righe:before {
  content: "\e927";
}
.riapp-freccia:before {
  content: "\e928";
}

