.ui-autocomplete {
	background-color: white;
	width: 300px;
	border: 1px solid lightgrey;
	list-style-type: none;
	padding-left: 0px;
	z-index: 2150000000 !important;
}

.ui-menu-item.ui-state-focus {
	background-color: lightgrey;
}

.row.list-row {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
	padding-top: 5px;
}

.row.list-header {
	background-color: lightgrey;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.typeahead.active {
	background-color: lightgrey;
}

.color-picker {
	display: inline-block;
	width: 1em;
	height: 1em;
}