    <ion-nav-title>
        <div class="nav-title" ng-click="enableIsDevMod()">
            <div class="nav-title-single">{{"Credits"|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-icon ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-content class="info" has-bouncing="false">
        <p class="project">
            <img src="img/riapp-credits.png" width="150">
        </p>
        <p class="project-desc">Guida alla raccolta differenziata
        </p>
        <p class="project-desc_due">nel tuo comune
        </p>
        <p class="version">{{version}}
        </p>

        <p class="project-desc"><img src="img/{{logoCliente}}"></p>

		<p class="project-desc"><img src="img/{{logoComune}}"></p>

        <p class="credits">
            <a ng-click="clickLink('http://achabgroup.it/creditsapp/01/')">{{"CREDITS"|translate}}</a>
        </p>

    </ion-content>
