    <ion-view>
        <ion-content class="info" has-bouncing="false">
            <p class="project">
                    <div class="row row-center" ng-click="#/app/home/tipidirifiuti">
                        <div class="col col-15">
                            <span class="riapp-home"/>
                        </div>
                        <div class="mls"><a ng-click="goToHome()">Home</a></div>
                    </div>
            </p>
            <p class="project-desc">
                <a ng-click="clickLink('http://www.smartcommunitylab.it')"> <img src="img/{{logoComune}}" width="200"> </a>

            <a ng-click="clickLink('http://achabgroup.it/')"><img src="img/riapp-completo.png" width="300">
            </a>
            <br/>
            </p>
            <p class="project-desc">Tutto quello che devi sapere
            </p>
            <p class="project-desc_due">sulla raccolta differenziata
            </p>
            <p class="project-desc_due">nel tuo comune
            </p>
        </ion-content>

    </ion-view>
