@font-face {
    font-family: 'riciclo';
    src:    url('riciclo.eot?a0qyb');
    src:    url('riciclo.eot?a0qyb#iefix') format('embedded-opentype'),
        url('riciclo.ttf?a0qyb') format('truetype'),
        url('riciclo.woff?a0qyb') format('woff'),
        url('riciclo.svg?a0qyb#riciclo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="riciclo-"], [class*=" riciclo-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'riciclo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.riciclo-esacom-ecobox:before {
    content: "\e91c";
}
.riciclo-esacom-pp_ingombranti_gratuito:before {
    content: "\e91d";
}
.riciclo-esacom-pp_ingombranti_pagamento:before {
    content: "\e922";
}
.riciclo-esacom-pp_vetro:before {
    content: "\e91b";
}
.riciclo-esacom-pp_cartone:before {
    content: "\e921";
}
.riciclo-esacom-erba_ramaglie:before {
    content: "\e902";
}
.riciclo-esacon-humana_caritas:before {
    content: "\e912";
}
.riciclo-esacom-n_verde:before {
    content: "\e915";
}
.riciclo-esacom-isola_ecologica:before {
    content: "\e916";
}
.riciclo-esacom-punto_raccolta_rup:before {
    content: "\e918";
}
.riciclo-esacom-pp_umido:before {
    content: "\e919";
}
.riciclo-esacom-porta_porta:before {
    content: "\e91a";
}
.riciclo-calendar_list:before {
    content: "\e90f";
}
.riciclo-add:before {
    content: "\e600";
}
.riciclo-calendar_table:before {
    content: "\e602";
}
.riciclo-camera:before {
    content: "\e603";
}
.riciclo-contatti:before {
    content: "\e604";
}
.riciclo-discard:before {
    content: "\e607";
}
.riciclo-domicilio:before {
    content: "\e608";
}
.riciclo-edit:before {
    content: "\e609";
}
.riciclo-email:before {
    content: "\e60a";
}
.riciclo-farmacia:before {
    content: "\e60b";
}
.riciclo-fax:before {
    content: "\e60c";
}
.riciclo-gestione_profili:before {
    content: "\e60e";
}
.riciclo-home:before {
    content: "\e60f";
}
.riciclo-impostazioni:before {
    content: "\e610";
}
.riciclo-info:before {
    content: "\e611";
}
.riciclo-lista:before {
    content: "\e613";
}
.riciclo-location:before {
    content: "\e614";
}
.riciclo-map:before {
    content: "\e615";
}
.riciclo-more_info:before {
    content: "\e616";
}
.riciclo-note:before {
    content: "\e617";
}
.riciclo-orari:before {
    content: "\e618";
}
.riciclo-pec:before {
    content: "\e619";
}
.riciclo-punti_di_raccolta:before {
    content: "\e61b";
}
.riciclo-save:before {
    content: "\e61d";
}
.riciclo-segnala:before {
    content: "\e61e";
}
.riciclo-telephone:before {
    content: "\e620";
}
.riciclo-tipi_raccolta:before {
    content: "\e621";
}
.riciclo-today:before {
    content: "\e622";
}
.riciclo-tutorial:before {
    content: "\e623";
}
.riciclo-website:before {
    content: "\e624";
}

