/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'TitilliumWeb';
    font-weight: normal;
		src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: bold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}

body * {
	font-family: 'TitilliumWeb';
}

body.platform-browser .ng-animate .scroll-bar {
    visibility: visible !important;
}

body.platform-browser .scroll-bar-fade-out {
    opacity: 1 !important
}

.credits{
  padding-top: 50px;
  font-weight: bold;
  font-size: larger;
  color: #33398d;
  text-decoration: underline;
}

.credits a {
  cursor:pointer;
}

.scroll-content > #map1 {
    height: 100%;
}

.angular-google-map-container {
    height: 100vh;
}

.bar{
    border-bottom: 0px;
}

.punti-raccolta-info {
    color: #47772b;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 0;
}

.punti-raccolta-sub-info {
    padding-bottom: 0;
}
.nav-button-app-logo {
    margin-left: 5px;
    height: 30px;
    width: 30px;
}
/* Expandable list */

.expandable-list-items {
    background-color: #eeeeee;
}

.expandable-list-item:not(:first-child) {
    padding-top: 1px;
}

.expandable-list-item-header {
    background-color: #f5f5f5;
    color: #3c3c3b;
}

.expandable-list-item-title {
    color: #3c3c3b;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 0;
}

.ion-chevron-up:before {
    color: #ffde3c;
    font-size: 25px;
}

.ion-chevron-down:before {
    color: #ffde3c;
    font-size: 25px;
}

.expandable-list-item-subtitle {
    padding-bottom: 0;
}

.expandable-list-item-desc {
    line-height: 1;
}

.expandable-list-item-content div > div.sub {
    text-align: right;
}

.expandable-list-item-empty {
    background-color: #eeeeee;
}
/* Navigation drawer and menus */

.navigation-drawer {
    background-color: #33398d;
}

.navigation-drawer ion-list ion-item {
    background-color: #33398d !important;
    color: #ffde3c !important;
}

.navigation-drawer ion-list ion-item a {
    background-color: #33398d !important;
    padding: 0 !important;
}

.navigation-drawer ion-list ion-item i {
    margin-right: 10px;
}

.navigation-drawer ion-list ion-item img {
    width: 30px;
    height: 30px;
}

.navigation-drawer ion-list.profiles-list ion-item {
    border: 0;
    padding: 0;
}
.navigation-drawer ion-list.profiles-list ion-item .row {
    padding: 0;
}
/* Bar and buttons */

.bar-100r-plain {
    background-color: #ffde3c !important;
}

.bar-100r-home {
    background-image: url('../img/riapp-blu-testata.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width:143px;
    height:43px;
}

.bar-100r {
    background-color: #ffde3c !important;
}

.bar-100r-inside {
    background-color: #33398d !important;
}

.bar-100r .btn {
    padding: 0;
}

.bar-100r .btn i {
    width: 35px;
    height: 35px;
}

.bar-100r .btn-edit {
    left: auto;
}

.bar-100r .btn-delete {
    left: auto;
}

.bar-100r .btn-variable::after {
    position: relative;
}
/* Input */

.button.button-100r {
    border-color: #33398d;
    background-color: #33398d;
    color: #fff;
}

.rifiuto-right-icon {
    font-size: 30px !important;
}

.bar-balanced .button {
    color: #33398d !important;
}

.button.button-balanced.button-clear {
    color: #33398d;
}

.bar-balanced .button.button-clear {
    color: #33398d;
}

.button.button-100r-select {
    text-align: left;
    color: #444;
    background-color: #eee;
    border-color: #ddd;
}

.button.button-100r-select.icon-right:before {
    color: #444;
}

.toggle.toggle-100r input:checked + .track {
    border-color: #47772b;
    background-color: #47772b;
}

.toggle-small .toggle.toggle-100r input:checked + .track .handle {
    background: #33398d;
}

.checkbox-100r input:checked:before,
.checkbox-100r input:checked + .checkbox-icon:before {
    background: #33398d;
    border-color: #33398d;
}
/* Tabs */

.tabs-100r .tabs {
    background-color: #33398d;
    border-color: #33398d;
    /*height: 25px !important;*/
}

.tabs-100r .single {
}

.tabs-balanced > .tabs, .tabs.tabs-balanced {
    background-image: linear-gradient(0deg, #33398d, #33398d 50%, transparent 50%);
    color: #fff;
}

.home-tabs .tabs {
    height: 30px;
    line-height: 30px;
    background-color: #33398d !important;
}

.home-tabs .tab-item {
    font-size: 12px;
}

.home-tabs .has-tabs-top {
    top: 74px !important;
}

.platform-ios:not(.fullscreen) .home-tabs .has-tabs-top {
    top: 93px !important;
}
/*
.home-tabs.tabs-striped .tab-item-active,
.home-tabs.tabs-striped .tab-item.active,
.home-tabs.tabs-striped .tab-item.activated {
    border-color: transparent !important;
}

.home-tabs.tabs-striped .tab-item + .tab-item:before {
    border-left: 0;
}
*/
/* Home - Tipi di rifiuti */

.single-item-div-tablike {
    height: 30px;
    line-height: 30px;
    background-color: #33398d !important;
    color: white;
    padding-left: 20px;
}

.tab-item {
  max-width: 180px;
}

.tab-item.tab-item-active {
    font-weight: bold !important;
    border-color: #ffde3c !important;
}

.home-tipidirifiuti {
    background-color: #fff;
}

.tipidirifiuti-label {
    color: #3c9636;
}

.home-searchbar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.home-searchbar button {
    font-size: 20px;
}

.riapp-blu-testata {
    height: 90%;
    width: auto;
    padding-top: 10px;
}

.item-input-inset{
    width: 100% !important;
    height: 30px !important;
    border-radius: 30px !important;
    border-color: #33398d !important;
}

.item-input-wrapper input {
    width: 95%;
}

.item-input-wrapper {
    background: #fff !important;
}

.home-grid {
    height: 80px;
    text-align: center;
    line-height: 14px;
    /*font-size: 12px;*/
}

.home-grid img {
    height: 50px;
    margin: 0 auto;
    display: block;
}

.home-grid:hover {
    background-color: #8de058;
}
/* Home - Notes */

.home-notes {
    background-color: #eeeeee;
    background-position: center;
    height: 100%;
}

.home-notes .home-notes-none {
    color: #BFBFBF;
    text-align: center;
    height: 100%;
}

.home-notes .home-notes-item {
    padding: 10px;
}

.home-notes .home-notes-item.home-notes-item-selected {
    background-color: #ffde3c;
}
/* Home - News */

.news-item .item-content {
    padding: 16px;
    font-size: smaller;
}

.news-date {
    text-align: right;
}

.news-title {
    font-weight: bold;
    white-space: normal !important;
}

.news-more {
    text-align: right;
    font-weight: bold;
    color: #47772b;
}
/* Home - Calendar */

.home-calendar {
    background-color: white;
}

.home-calendar .month-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-calendar .month-bar .month-name {
    text-align: center;
    color: #33398d;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.home-calendar .month-bar .btn-next {
    text-align: left;
    color: #33398d;
}

.home-calendar .month-bar .btn-prev {
    text-align: right;
    color: #33398d;
}

.home-calendar .week-days {
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
    font-size: 12px;
}

.home-calendar .week-days .col-day{
    background-color: #3c9636;
    color: white;
/*
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
*/
    border-right: 2px solid;
    border-color: white;

}

.cal-container .row{
    padding: 5px 0;
    margin-top: 0;
}

.cal-container .row div:last-child {
     border-right: 0;
}

.home-calendar .week {
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
}

.home-calendar .week .day {
/*    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;*/
    background-color: white;
    color: black;
    border-right: 2px solid;
       border-bottom: 2px solid;
    border-color: #3c9636;
}

.home-calendar .week .day .sunday{
    background-color: gray;
    border-color: #fff !important;
}

.home-calendar .week .noday {
/*    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;*/
    border-right: 2px solid #fff;
    border-bottom: 2px solid #3c9636;
}

.home-calendar .week .noday-bottom {
/*    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;*/
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.home-calendar .week .day.today {
}

.home-calendar .week .day .day-date {
    text-align: left;
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 5px;
}

.home-calendar .week .day .day-slots {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.home-calendar .week .day .day-slots .day-slot {
    padding: 1px;
}

.home-calendar .week .day .day-slots .day-slot > div {
    height: 7px;
    width: 7px;
    border-radius: 7px;
}

.home-calendar .colorLegend .col .legend-slot {
    height: 100%;
    width: 100%;
}

.home-calendar .colorLegend .col .legend-slot .color-slot {
    height: 7px;
    width: 7px;
    padding-top: 5px;
    border-radius: 7px;
    vertical-align: middle;
    display: inline-block;
}

.home-calendar .colorLegend .col .legend-slot .item-slot {
    height: 100%;
    width: 100%;
    padding-left: 5px;
}

.home-calendar .agenda .day .day-title {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff;
    text-align: left;
    color: #33398d;
}

.home-calendar .agenda .day .day-content {}

.home-calendar .agenda .day .day-content-active {
}

.home-calendar .agenda .day .day-content .content-title {
    color: #47772b !important;
    text-align: left !important;
    font-weight: bold;
}

.home-calendar .agenda .day .day-content .content-event,
.home-calendar .agenda .day .day-content .content-event .event-desc {
    padding: 3px !important;
}
/* Tipi di rifiuto */

.content-event .event-desc {
    white-space: normal !important;
}

.tipidirifiuto,
.tipidirifiuto ion-list,
.tipidirifiuto ion-list ion-item,
.tipidirifiuto ion-list ion-item a {
    background-color: #33398d !important;
}

.tipidirifiuto ion-list ion-item a, .tipodiraccolta ion-list ion-item a, .home-tipidirifiuti ion-item a {
    background-color: #fff !important;
    white-space: normal;
}
/* Tipo di rifiuto */

.tipodirifiuto .tipodirifiuto-icon,
.tipodirifiuto .distance {
    text-align: right;
}
/* Punti di raccolta */

.puntidiraccolta {}

.puntodiraccolta {
    background-color: #fff;
}

.puntodiraccolta .dettagli {
    padding: 5px;
    border-bottom: 2px;
    border-color: #d9d9d9;
    border-style: solid;
}

.puntodiraccolta .pdr-dettaglio-title {
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3b;
}

.puntodiraccolta .pdr-dettaglio-title-tipologie {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3b;
}

.puntodiraccolta .pdr-dettaglio {
    padding-left: 0;
    font-size: 12px;
    font-weight: normal;
    color: #3c3c3b;
}

.puntodiraccolta .pdr-specifica {
    padding-left: 0;
    font-size: 12px;
    line-height: 11px;
    margin-top: 5px;
}

.puntodiraccolta .dettagli .action {
    padding: 0;
    text-align: right;
}

.puntodiraccolta .dettagli .action i {
    width: 35px;
    height: 35px;
}

.puntodiraccolta .tipologie ion-item {
    padding: 0;
    background-color: #eeeeee;
}

.puntodiraccolta .tipologie ion-item a {
    padding: 5px 10px;
    background-color: #eeeeee;
}

.tipodiraccolta,
.tipodiraccolta ion-list ion-item,
.tipodiraccolta ion-list ion-item a {
    background-color: #eeeeee !important;
}

.tipologiediraccolta {
    background-color: #eeeeee;
}

.tipologiediraccolta ion-item {
    border-color: #cecece !important;
    padding-top: 0;
    padding-bottom: 0;
}

.tipologiediraccolta ion-item a {
    background-color: #eeeeee !important;
    padding: 0 !important;
}

.tipologiediraccolta .tipologiediraccolta-icons {
    padding: 0 5px;
}

.tipologiediraccolta .tipologiediraccolta-icons .col-ico {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
}

.tipologiediraccolta-title {
		white-space: initial;
}

.contatti-item-list ion-item {
    border-color: #cecece !important;
}

.contatti-item-list ion-item a {
    background-color: #eeeeee !important;
    padding: 0 !important;
}
/* PROFILES, PROFILE */

.profiles {
    background-color: #eeeeee;
}

.profiles .profile-card {
    padding: 5px;
}

.profiles .profile-card-content {
    background-color: white;
    color: black;
}

.profiles .profile-card .profile-name {
    padding-top: 0;
    font-size: 18px;
}

.profiles .profile-card .profile-info {
    padding-bottom: 0;
    font-size: 14px;
}

.profiles .profile-card .profile-name div,
.profiles .profile-card .profile-info div {
    border: none;
}

.profile {
    padding: 10px 10px 0 10px;
    background-color: #eeeeee !important;
    font-size: 16px;
}

.profile .profile-block {
    padding-top: 20px;
}

.profile .profile-block:first-child {
    padding-top: 0;
}

.profile .profile-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.profile .profile-block p {
    padding-top: 5px;
}

.profile .profile-name input {
    width: 100%;
    font-size: 16px;
    /*background-color: #eeeeee;
    border: none;
    border-bottom: thin solid #cccccc;
    padding: 0;*/
}

.help i {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.profile .profile-name .item {
    background-color: #eee;
}

.profile .profile-types .item.item-radio .item-content {
    background-color: #eee !important;
    white-space: normal !important;
}

.localita-modal .localita-animate-repeat.ng-enter,
.localita-modal .localita-animate-repeat.ng-leave {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

.localita-modal .localita-animate-repeat.ng-enter,
.localita-modal .localita-animate-repeat.ng-leave.ng-leave-active {
    opacity: 0;
}

.localita-modal .localita-animate-repeat.ng-leave,
.localita-modal .localita-animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
}

.localita-modal .help {
    height: 100%;
    right: 48px;
}
/* SEGNALA */

.segnala,
.segnala .item {
    /*border-color: transparent; */

    background-color: #eeeeee;
}

.segnala .item-content {
    background-color: #eeeeee !important;
}

.segnala .segnala-desc {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
}

.segnala .segnala-text-input {
    margin-top: 16px;
    background-color: #eeeeee;
}

.segnala .segnala-text-input input {
    width: 100%;
    font-size: 16px;
}

.segnala .segnala-photo {
    margin-top: 16px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 35px;
}

.segnala .segnala-photo {
    color: #444;
}

.segnala .segnala-photo button i,
.segnala .segnala-position button i {
    width: 35px;
    height: 35px;
}

.segnala .segnala-image {
    background-color: #cecece;
    margin-left: 3%;
    width: 94%;
    height: 150px;
}

.segnala .segnala-image i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.segnala .segnala-position {
    border: none;
}

.segnala-send {
    top: -15px;
    height: 35px;
    background-color: #47772b !important;
    border-color: #47772b !important;
    font-size: larger !important;
}

.segnala-send a {
    text-decoration: none;
    color: white;
}
/* Settings */

.settings,
.settings .item {
    background-color: #eeeeee;
}

.settings .setting-info {
    padding: 8px 16px;
}

.settings .item {
    border-color: transparent;
}

.settings .button-100r-select {
    position: absolute;
    right: 19px;
    top: 0;
}
/* Contatti */

.contatto {
    background-color: #eeeeee;
}

.contatto .row {
    padding: 10px;
    border-style: solid !important;
    border-bottom-width: 1px;
    border-color: #cecece;
    margin-bottom: 5px;
}

.contatto button.icon {
    color: #33398d !important;
    position: relative;
}

.contatto button.icon i {
    width: 35px;
    height: 35px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* INFO */

.info {
    text-align: center;
    background-color: #fff;
}

.info a img {
    margin: 10px 5px;
}


.info .project {
    margin-top: 100px;
}

.info .project-desc img {
	width: 90%;
	max-width: 300px;
}

.info .project-desc {
    padding-left: 30px;
    padding-right: 30px;
    color: #33398d;
    font-size: 16px !important;
    line-height: 16px !important;
	margin-top: 0px;
	margin-bottom: 5px;
}

.info .project-desc_due {
    padding-left: 30px;
    padding-right: 30px;
    color: #33398d;
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 0px;
	margin-bottom: 5px;
}

.info .version {
    color: #3c3c3b;
    margin-top: 10px;
}

.info .realized {
    padding-left: 30px;
    padding-right: 30px;
    color: #33398d;
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 50px;
}

.info .subtitle {
    color: #33398d;
    margin-top: 20px;
    font-size: 16px;
}

.info .mail {
    text-decoration: underline;
    color: black;
    font-size: 18px;
}
/* Tutorial */

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tutorial-button {
    width: 105px;
}
/* Nav title */

.nav-bar-title {
    /*display: table;*/
    height: 100%;
    width: 100%;
}

.nav-title {
	height: 100%;
}

.nav-title-home {
    background-image: url('../img/riapp-blu-testata.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: 1.2 !important;
    background-size: contain;
}

.nav-title .nav-title-main {
    text-transform: uppercase;
	color: #33398d !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
	line-height: 43px;
}

.nav-title .nav-title-sub {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Others */

.subpage-title {
    background-color: #47772b !important;
    height: 30px;
}

.subpage-title h1 {
    color: #eeeeee !important;
    padding-left: 5px;
    font-size: 20px;
    line-height: 30px !important;
}

.hidden-link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.nowrap {
    white-space: nowrap;
}

.splashscreen {
    width: 100%;
    height: 100%;
}

.profili-titolo {
    font-weight: bold;
}

.icon-menu {
    font-size: 30px;
    color: #63ac3d;
}

.icon-button {
    font-size: 35px;
    color: #33398d;
}

.icon-large {
    font-size: 30px;
}

.icon-xlarge {
    font-size: 35px;
}

.icon-group {
    font-size: 25px;
    color: grey;
}

.icon-tipo {
    font-size: 35px;
}

.timePickerColon {
  width: 10%;
  display: block;
}

.timePickerArrows {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.timePickerSpan {
  width: 25%;
  display: block;
}
