<ion-view>
    <ion-nav-title>
        <div ng-click="enableIsDevMod()"  class="nav-title">
            <div class="nav-title-main">{{"Credits"|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-icon button-dark ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-content class="info" has-bouncing="false">
        <p class="project" ng-bind-html="'Progetto_CREDITS'|translate"></p>
        <p class="project-desc"><strong>{{'Progetto_DESC_line_1'|translate}}</strong>
        </p>
        <p class="project-desc"><strong>{{'Progetto_DESC_line_2'|translate}}</strong>
        </p>
        <p class="version"><strong>{{version}}</strong>
        </p>
        <p>
            <a ng-click="clickLink('http://www.asvo.it/')"><img src="img/logo-asvo.png" width="154">
        </a>
        </p>
        <p>
            <a ng-click="clickLink('https://www.achab.it/')"><img src="img/achab.png" width="154">
        </a>
        </p>

        <p class="subtitle">{{'Progetto_di'|translate}}</p>
        <a ng-click="clickLink('http://www.comunitrentini.it')"><img src="img/consorzio_comuni_trentini.png" width="175" height="63"></a>
        <br />
        <a ng-click="clickLink('http://www.smartcommunitylab.it')"> <img src="img/logo_sco_fbk.png" width="301"> </a>
    </ion-content>
</ion-view>
