<ion-view>
    <ion-nav-title class="text-center">
        <img src="img/riapp-blu-testata.png" class="riapp-blu-testata">
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <div class="nowrap" data-tap-disabled="true">
            <button ng-click="switchView()" class="button button-icon btn btn-variable">
                <i class="icon riapp-calendario-griglia" style="visibility: hidden;"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content class="home-tipidirifiuti" has-bouncing="false">
        <div class="list list-inset home-searchbar">
            <div class="item item-input-inset">
                <button id="searchButton" class="button button-small button-clear" ng-class="{'ion-search button-balanced': searchQuery.length == 0, 'ion-close button-stable': searchQuery.length > 0}" ng-click="searchQuery = ''"></button>
                <label class="item-input-wrapper">
                    <input type="search" ng-init="searchQuery = ''" ng-model="searchQuery" placeholder="{{'what_to_throw' | translate}}">
                </label>
            </div>
            <ion-item ng-repeat="item in rifiuti | filter:match(searchQuery)" ng-href="#/app/rifiuto/{{addr2id(item.nome)}}">
                {{item.nome | translate}}
            </ion-item>
        </div>
        <div class="row" ng-repeat="row in tipologie">
            <div class="col home-grid" ng-repeat="item in row">
                <a class="hidden-link" ng-href="#/app/rifiuti/{{addr2id(item.link)}}">
                    <div class="tipidirifiuti-label">
                        <img id=rifiutoId ng-src="{{item.img}}" />{{item.label | translate}}
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
