@font-face {
	font-family: 'riciclo';
	src:url('riciclo.eot?-gillw4');
	src:url('riciclo.eot?#iefix-gillw4') format('embedded-opentype'),
		url('riciclo.ttf?-gillw4') format('truetype'),
		url('riciclo.woff?-gillw4') format('woff'),
		url('riciclo.svg?-gillw4#riciclo') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="riciclo-"], [class*=" riciclo-"] {
	font-family: 'riciclo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="riciclo-"], [class*=" riciclo-"] {
	font-family: 'riciclo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.riciclo-bar-outline:before {
    content: "\e900";
}
.riciclo-bar:before {
    content: "\e901";
}
.riciclo-caritas:before {
    content: "\e902";
}
.riciclo-caritas-outline:before {
    content: "\e903";
}
.riciclo-centro_autorizzato-02:before {
    content: "\e904";
}
.riciclo-centro_autorizzato-outline:before {
    content: "\e905";
}
.riciclo-ecobox:before {
    content: "\e906";
}
.riciclo-ecobox-outline:before {
    content: "\e907";
}
.riciclo-rup_medicinali:before {
    content: "\e908";
}
.riciclo-rup_medicinali-outline:before {
    content: "\e909";
}
.riciclo-rup_nocivi:before {
    content: "\e90a";
}
.riciclo-rup_nocivi-outline:before {
    content: "\e90b";
}
.riciclo-Rup_pile:before {
    content: "\e90c";
}
.riciclo-Rup_pile-outline:before {
    content: "\e90d";
}
.riciclo-servizio_richiesta:before {
    content: "\e90e";
}
.riciclo-furgone-outline:before {
    content: "\e90f";
}
.riciclo-furgone:before {
    content: "\e910";
}
.riciclo-calendar_list:before {
    content: "\e911";
}
.riciclo-add:before {
    content: "\e912";
}
.riciclo-calendar_table:before {
    content: "\e913";
}
.riciclo-camera:before {
    content: "\e914";
}
.riciclo-contatti:before {
    content: "\e915";
}
.riciclo-crm-outline:before {
    content: "\e916";
}
.riciclo-crm:before {
    content: "\e917";
}
.riciclo-crz-outline:before {
    content: "\e918";
}
.riciclo-crz:before {
    content: "\e919";
}
.riciclo-discard:before {
    content: "\e91a";
}
.riciclo-domicilio-outline:before {
    content: "\e91b";
}
.riciclo-domicilio:before {
    content: "\e91c";
}
.riciclo-edit:before {
    content: "\e91d";
}
.riciclo-email:before {
    content: "\e91e";
}
.riciclo-farmacia-outline:before {
    content: "\e91f";
}
.riciclo-farmacia:before {
    content: "\e920";
}
.riciclo-fax:before {
    content: "\e921";
}
.riciclo-gestione_profili:before {
    content: "\e922";
}
.riciclo-home:before {
    content: "\e923";
}
.riciclo-impostazioni:before {
    content: "\e924";
}
.riciclo-info:before {
    content: "\e925";
}
.riciclo-isola_ecologica-outline:before {
    content: "\e926";
}
.riciclo-isola_ecologica:before {
    content: "\e927";
}
.riciclo-lista:before {
    content: "\e928";
}
.riciclo-location:before {
    content: "\e929";
}
.riciclo-map:before {
    content: "\e92a";
}
.riciclo-more_info:before {
    content: "\e92b";
}
.riciclo-note:before {
    content: "\e92c";
}
.riciclo-orari:before {
    content: "\e92d";
}
.riciclo-pec:before {
    content: "\e92e";
}
.riciclo-porta_a_porta-outline:before {
    content: "\e92f";
}
.riciclo-porta_a_porta:before {
    content: "\e930";
}
.riciclo-punti_di_raccolta:before {
    content: "\e931";
}
.riciclo-rivenditore-outline:before {
    content: "\e932";
}
.riciclo-rivenditore:before {
    content: "\e933";
}
.riciclo-save:before {
    content: "\e934";
}
.riciclo-segnala:before {
    content: "\e935";
}
.riciclo-stradale-outline:before {
    content: "\e936";
}
.riciclo-stradale:before {
    content: "\e937";
}
.riciclo-telephone:before {
    content: "\e938";
}
.riciclo-tipi_raccolta:before {
    content: "\e939";
}
.riciclo-today:before {
    content: "\e93a";
}
.riciclo-tutorial:before {
    content: "\e93b";
}
.riciclo-website:before {
    content: "\e93c";
}
