<ion-view>
  <ion-nav-title>
    <div class="nav-title">
      <div class="nav-title-main" ng-if="contatto.ufficio">{{contatto.ufficio}} - {{contatto.ragioneSociale}}</div>
      <div class="nav-title-sub">{{selectedProfile.name}}</div>
    </div>
  </ion-nav-title>

  <ion-content class="contatto" has-bouncing="false" delegate-handle="mainScroll" on-scroll-complete="mainScrollResize()">
    <div class="row">
      <div class="col">
        {{contatto.descrizione}}
      </div>
    </div>
    <a class="hidden-link" ng-click="clickLink('http://maps.google.com?daddr='+contatto.localizzazione)" ng-if="!!contatto.indirizzo">
      <div class="row">
        <button class="col icon button-balanced button-clear">
            <i class="riciclo-location icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.indirizzo}}</div>
      </div>
    </a>
    <div class="row" ng-if="!!contatto.orarioUfficio">
      <button class="col icon button-balanced button-clear">
        <i class="riciclo-orari icon-large"></i>
      </button>
      <div class="col col-90 col-center">{{contatto.orarioUfficio}}</div>
    </div>
    <a class="hidden-link" ng-click="clickLink(contatto.sitoIstituzionale)" ng-if="!!contatto.sitoIstituzionale">
      <div class="row">
        <button class="col icon button-balanced button-clear">
        <i class="riciclo-website icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.sitoIstituzionale}}</div>
      </div>
    </a>
    <a class="hidden-link" ng-click="clickLink(contatto.sitoWeb)" ng-if="!!contatto.sitoWeb">
      <div class="row">
        <button class="col icon button-balanced button-clear">
            <i class="riciclo-website icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.sitoWeb}}</div>
      </div>
    </a>
    <a class="hidden-link" ng-click="clickLink('tel:'+contatto.telefono)" ng-if="!!contatto.telefono">
      <div class="row">
        <button class="col icon button-balanced button-clear">
        <i class="riciclo-telephone icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.telefono}}</div>
      </div>
    </a>
    <div class="row" ng-if="!!contatto.fax">
      <button class="col icon button-balanced button-clear">
        <i class="riciclo-fax icon-large"></i>
      </button>
      <div class="col col-90 col-center">{{contatto.fax}}</div>
    </div>
    <a class="hidden-link" ng-click="clickLink('mailto:'+contatto.email)" ng-if="!!contatto.email">
      <div class="row">
        <button class="col icon button-balanced button-clear">
        <i class="riciclo-email icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.email}}</div>
      </div>
    </a>
    <a class="hidden-link" ng-click="clickLink('mailto:'+contatto.pec)" ng-if="!!contatto.pec">
      <div class="row">
        <button class="col icon button-balanced button-clear">
        <i class="riciclo-pec icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.pec}}</div>
      </div>
    </a>
    <a class="hidden-link" ng-click="clickLink(contatto.facebook)" ng-if="!!contatto.facebook">
      <div class="row">
        <button class="col icon button-balanced button-clear">
        <i class="ion-social-facebook icon-large"></i>
        </button>
        <div class="col col-90 col-center">{{contatto.facebook}}</div>
      </div>
    </a>
  </ion-content>
</ion-view>
