<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"general_info"|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-icon ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-top tabs-balanced tabs-100r home-tabs">
        <ion-tab title="{{'qualita_dei_materiali'| translate}}">
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div ng-include src="'templates/qualitaDeiMateriali.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'cosa_diventano'|translate}}">
            <ion-nav-view name="cosaDiventano"></ion-nav-view>
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div ng-include src="'templates/cosaDiventano.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'compostaggio_domestico'|translate}}">
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div ng-include src="'templates/compostaggioDomestico.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <!--ion-tab title="{{'credits'|translate}}">
            <ion-view>
                <div ng-include src="'templates/info.html'"></div>
            </ion-view>
        </ion-tab-->
    </ion-tabs>
</ion-view>
