<div>
    <div class="expandable-list-item" ng-repeat="item in raccolta">
        <div class="row row-center expandable-list-item-header" ng-click="item.aperto=!item.aperto">
            <div class="col col-10">
                <i ng-class="{'ion-chevron-up':item.aperto, 'ion-chevron-down':!item.aperto}"></i>
            </div>
            <div class="col col-80 tipo-rifiuto">
                <div class="row expandable-list-item-title">
                    <div class="col">
                        {{item.tipoPuntoRaccolta.nome|translate}}
                    </div>
                </div>
                <div class="row expandable-list-item-desc">
                    <div class="col">
                        {{item.infoRaccolta|translate}}
                    </div>
                </div>
            </div>
            <div class="col col-10 col-top tipodirifiuto-icon">
                <i class="{{item.icon}} icon-group" style="color:{{color(item)}}"></i>
            </div>
        </div>
        <div ng-show="item.aperto">
            <a ng-if="punto.dettagliZona|| punto.zona" ng-repeat="punto in item.punti | orderBy:'distance'" class="hidden-link expandable-list-item-content" ng-href="#/app/puntoDiRaccolta/{{addr2id(punto.dettagliZona) || punto.zona}}">
                <div class="row">
                    <div class="col col-80">
                        {{punto.dettagliZona || punto.zona}}
                    </div>
                    <div class="col col-20 distance" ng-if="punto.distance">
                        {{punto.distance | number:1}} Km
                    </div>
                </div>
            </a>
            <a ng-if="!punto.dettagliZona && !punto.zona" ng-repeat="punto in item.punti" class="hidden-link expandable-list-item-content" ng-href="#/app/infoRaccolta/{{item.tipologiaPuntoRaccolta}}">
                <div class="row">
                    <div class="col col-100">
                        {{item.tipoPuntoRaccolta.nome|translate}}
                    </div>
                </div>
            </a>
            <div class="row row-center nowrap expandable-list-item-empty" ng-show="!item.punti || item.punti.length==0">
                {{'empty_elem'|translate}}
            </div>
        </div>
    </div>
</div>
