<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Info raccolta"|translate}}</div>
            <div class="nav-title-sub">{{pdr.tipologiaPuntiRaccolta}} {{pdr.zona}}</div>
        </div>
    </ion-nav-title>


    <ion-content class="puntodiraccolta" has-bouncing="false">
        <!-- DETTAGLI -->
        <div class="subpage-title">
            <h1>{{"DETTAGLI"|translate}}</h1>
        </div>
        <div class="row row-center dettagli">
            <div class="col col-67">
                <div class="row pdr-dettaglio">{{pdr.tipologiaPuntiRaccolta}}</div>
                <div class="row pdr-specifica">{{pdr.note}}</div>
                <!--per ora niente...-->
            </div>
        </div>
        <div ng-show="!!pdr.orarioApertura && pdr.orarioApertura.length > 0">
            <div class="subpage-title">
                <h1 class="title">ORARIO</h1>
            </div>
            <div class="row row-center dettagli">
                <div class="col">
                    <div class="pdr-dettaglio">
                        <table>
                            <tr ng-repeat="item in orari">
                                <td class="col col-100" style="white-space:normal">
                                    <span ng-repeat="g in item.giorno"><strong>{{g}}</strong> </span>
                                    <span ng-if="item.ecceto.length > 0"><br/>({{"eccetto"|translate}} <span ng-repeat="e in item.ecceto"> {{e}}</span>)</span>
                                </td>
                                <td><span ng-repeat="orario in item.orari"><span ng-if="$index>0">, </span>{{orario}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TIPOLOGIE DI RACCOLTA -->
        <div class="subpage-title">
            <h1 class="title">{{"TIPOLOGIE DI RACCOLTA"|translate}}</h1>
        </div>
        <ion-list class="tipologie">
            <ion-item ng-repeat="rifiuto in rifiuti" href="#/app/raccolta/{{rifiuto}}">
                {{rifiuto|translate}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
