    <ion-view>
        <ion-content class="info" has-bouncing="false">
            <p class="project-desc">
                <a ng-click="clickLink('http://www.smartcommunitylab.it')"> <img src="img/{{logoComune}}" width="200"> </a>

            <p>
                <img src="img/riapp-completo.png" width="300">
            </p>
            <br/>
            </p>
            <p class="project-desc">Tutto quello che devi sapere
            </p>
            <p class="project-desc_due">sulla raccolta differenziata
            </p>
            <p class="project-desc_due">nel tuo Comune
            </p>
        </ion-content>

    </ion-view>
