<ion-modal-view class="localita-modal">
    <ion-header-bar class="bar-balanced bar-100r">
        <button class="button back-button button-clear" ng-click="closeLocalitaSelector()">
            <i class="icon" ng-class="{'ion-android-arrow-back': platform.isAndroid(), 'ion-ios-arrow-back': !platform.isAndroid()}"></i>
        </button>
        <h1 class="title">{{"Selezionare"|translate}}</h1>
        <!--<button class="button button-clear" ng-click="closeLocalitaSelector()">
            <i class="icon ion-checkmark"></i>
        </button>-->
    </ion-header-bar>
    <ion-content>
        <div class="item item-input-inset" ng-if="!!aree && aree.length > 10">
            <label class="item-input-wrapper">
                <input type="search" ng-init="searchQuery.etichetta = ''" ng-model="searchQuery.etichetta">
                <!--placeholder="{{'Che rifiuto vuoi buttare?' | translate}}"-->
            </label>
            <button id="searchButton" class="button button-small button-clear ion-close button-stable" ng-click="searchQuery.etichetta = ''"></button>
        </div>
        <ion-list ng-if="aree.length > 0">
            <ion-item class="item-icon-right localita-animate-repeat" ng-repeat="item in aree | filter:searchQuery" ng-click="localitaSelected(item)">
                {{item.etichetta}}
                <a class="icon help" ng-click="help(item)" ion-stop-event="click" ng-if="!!item.descrizione">
                    <i class="icon riciclo-more_info icon-button"></i>
                </a>
                <!--ng-if="!!item.descrizione"-->
                <i class="icon ion-checkmark" ng-if="item.etichetta == profilo.area.etichetta"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
