<ion-side-menus>
    <!-- enable-menu-with-back-views="true" -->
    <ion-side-menu-content edge-drag-threshold="30">
        <ion-nav-bar class="bar-balanced bar-100r" align-title="left" delegate-handle="navBar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="navigation-drawer">
        <ion-header-bar class="bar-balanced bar-100r-inside">

        </ion-header-bar>

        <ion-content has-bouncing="false">
            <!--ion-list class="profiles-list">
                <ion-item ng-repeat="item in profili track by $index" ng-click="selectProfile($index)">
                    <div class="row row-center">
                        <div class="col col-10">
                            <img ng-src="{{item.image}}" />
                        </div>
                        <div class="col">
                            {{item.name}}
                        </div>
                    </div>
                </ion-item>
            </ion-list-->
           <ion-list class="menu-list">
                <ion-item nav-clear menu-close href="#/app/home/tipidirifiuti">
                    <div class="row row-center">
                        <div class="col col-15">
                            <span class="riapp-home"/>
                        </div>
                        <div class="mls">Home</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="checkSettings()" href="#/app/settings" ng-if="!isHiddenFields && ((!!selectedProfile.PaP && selectedProfile.PaP.length > 0) || isDevMode || (LANG.length > 0))">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-impostazioni"/>
                        </div>
                        <div class="mls">{{"notifications" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/tipiDiRaccolta">
                    <div class="row row-center">
                        <div class="col col-15">
                            <span class="riapp-sistemi-raccolta"/>
                        </div>
                        <div class="mls">{{"collection_types" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/puntiDiRaccolta/!">
                    <div class="row row-center">
                        <div class="col col-15">
                            <span class="riapp-centro-raccolta2"/>
                        </div>
                        <div class="mls">{{"collection_locations" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/menunote" ng-if="showNews()">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <i class="icon riciclo-note icon-menu"></i>
                        </div>
                        <div class="col">{{"Le mie note" | translate}}</div>
                    </div>
                </ion-item>
                <!--ion-item nav-clear menu-close href="#/app/segnala" ng-if="showReport()">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <i class="icon riciclo-segnala icon-menu"></i>
                        </div>
                        <div class="col">{{"report" | translate}}</div>
                    </div>
                </ion-item-->
                <ion-item nav-clear menu-close href="#/app/contatti">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-contatti"/>
                        </div>
                        <div class="mls">{{"contacts" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/genInfo">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-contenuti"/>
                        </div>
                        <div class="mls">{{"Informazioni Generali" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/profili">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-profilo"/>
                        </div>
                        <div class="mls">{{"profiles_management" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home/tipidirifiuti" ng-click="showTutorial()">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-tutorial"/>
                        </div>
                        <div class="mls">{{"tutorial" | translate}}</div>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/credits">
                    <div class="row row-center">
                        <div class="col col-15 ">
                            <span class="riapp-credits"/>
                        </div>
                        <div class="mls">{{"Credits" | translate}}</div>
                    </div>
                </ion-item>
            </ion-list>
		</ion-content>
    </ion-side-menu>
</ion-side-menus>
