<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"collection_location"|translate}}</div>
            <div class="nav-title-sub">{{pdr.tipoPuntoRaccolta.nome}} {{pdr.dettagliZona}}</div>
        </div>
    </ion-nav-title>

    <ion-content class="puntodiraccolta" has-bouncing="false">
        <!-- DETTAGLI -->
        <div class="subpage-title">
            <h1>{{"details"|translate}}</h1>
        </div>
        <div class="row row-center dettagli">
            <div class="col col-67">
                <div class="row pdr-dettaglio">{{pdr.dettagliZona || pdr.zona}}</div>
                <div class="row pdr-specifica">{{pdr.note}}</div>
                <!--per ora niente...-->
            </div>
            <div class="col action">
                <a class="hidden-link" href="#/app/puntiDiRaccolta/{{addr2id(pdr.dettagliZona) || pdr.zona}}">
                    <i class="icon riciclo-map icon-button"></i>
                </a>
                <a class="hidden-link" target="_system" ng-click="clickNav()">
                    <i class="icon riciclo-location icon-button"></i>
                </a>
            </div>
        </div>
        <div ng-show="!!pdr.orarioApertura && pdr.orarioApertura.length > 0">
            <div class="subpage-title">
                <h1 class="title">{{"schedule"|translate}}</h1>
            </div>
            <div class="row row-center dettagli">
                <div class="col">
                    <div class="pdr-dettaglio">
                        <table>
                            <tr ng-repeat="item in orari">
                                <td class="col col-100" style="white-space:normal">
                                    <span ng-repeat="g in item.giorno"><strong>{{g | translate}}</strong> </span>
                                    <span ng-if="item.ecceto.length > 0"><br/>({{"eccetto"|translate}} <span ng-repeat="e in item.ecceto"> {{e | translate}}</span>)</span>
                                </td>
                                <td><span ng-repeat="orario in item.orari"><span ng-if="$index>0">, </span>{{orario}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="subpage-title">
            <h1>{{"access"|translate}}</h1>
        </div>
        <div class="row row-center dettagli">
            <div class="col col-67">
                <div class="row pdr-dettaglio">{{pdr.accesso</div>
            </div>
        </div>

        <!-- TIPOLOGIE DI RACCOLTA -->
        <div class="subpage-title">
            <h1 class="title">{{"collection_typology"|translate}}</h1>
        </div>
        <ion-list class="tipologie">
            <ion-item ng-repeat="rifiuto in rifiuti" href="#/app/raccolta/{{rifiuto.id}}">
                {{rifiuto.nome|translate}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
