<div>
    <div class="expandable-list-item">
        <div class="row expandable-list-item-header">
            <div class="col col-80">
                <div class="row expandable-list-item-title">
                    <div class="col">
                        {{'come_conferire'|translate}}
                    </div>
                </div>
                <div class="row expandable-list-item-subtitle">
                    <div class="col" ng-bind-html="comeConferire"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="expandable-list-item">
        <div class="row expandable-list-item-header">
            <div class="col col-80">
                <div class="row expandable-list-item-title">
                    <div class="col">
                        {{'presta_attenzione'|translate}}
                    </div>
                </div>
                <div class="row expandable-list-item-subtitle">
                    <div class="col" ng-bind-html="prestaAttenzione"></div>
                </div>
            </div>
        </div>
    </div>
</div>
