<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{nome|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-tabs class="tabs-top tabs-balanced tabs-100r home-tabs">
        <ion-tab title="{{'waste_list'|translate}}">
            <ion-view>
                <ion-content class="tipodiraccolta" has-bouncing="false">
                    <ion-list class="">
                        <ion-item ng-repeat="item in rifiuti" class="" ng-href="#/app/rifiuto/{{addr2id(item.nome)}}">
                            {{item.nome|translate}}
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'raccolta'|translate}}">
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div ng-include src="'templates/groupedPuntiList.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'info_min'|translate}}">
            <ion-view>
                <ion-content class="" has-bouncing="false">
                    <div ng-include src="'templates/puntiInfo.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
