<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Tipo di raccolta"|translate}}</div>
            <div class="nav-title-sub">{{id|translate}}</div>
        </div>
    </ion-nav-title>

<!--
    <ion-nav-buttons side="left">
        <button ng-click="back()" class="row button button-icon ion-ios7-arrow-back">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>
-->

    <ion-tabs class="tabs-balanced tabs-100r">
        <ion-tab title="{{'LISTA RIFIUTI'|translate}}">
            <ion-view>
                <ion-content class="tipodiraccolta" has-bouncing="false">
                    <ion-list class="">
                        <ion-item ng-repeat="item in rifiuti" class="" ng-href="#/app/rifiuto/{{item.nome}}">
                            {{item.nome|translate}}
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'PUNTI DI RACCOLTA'|translate}}">
            <ion-view>
                <ion-content class="expandable-list-items" has-bouncing="false">
                    <div ng-include src="'templates/groupedPuntiList.html'"></div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
