<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Rifiuto"|translate}}</div>
        </div>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item"  ng-if="hasCustomBack">
            <i class="icon" ng-class="backButtonStyle" ></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="expandable-list-items"  has-bouncing="false">
        <div class="single-item-div-tablike">
            {{nome|translate}}
        </div>
        <div ng-include src="'templates/groupedPuntiList.html'"></div>
    </ion-content>
</ion-view>
