<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"reporting" | translate}}</div>
            <div class="nav-title-sub">{{selectedProfile.name}}</div>
        </div>
    </ion-nav-title>

    <ion-content class="segnala padding has-footer">
        <div class="segnala-desc">
            {{'submit' | translate}}
        </div>
        <div ng-if="tipiSegnalazioni.length > 1">
            <div class="segnala-desc">{{'category_choice' | translate}}</div>
            <div class="list">
                <ion-radio ng-repeat="item in tipiSegnalazioni" ng-model="signal.selectedTipoSegnalazione" ng-value="item">{{item.tipologia}}</ion-radio>
            </div>
        </div>
        <div class="item item-input-inset segnala-text-input">
            <label class="item-input-wrapper">
                <input type="text" ng-model="msg.text" placeholder="{{'insert_report_text' | translate}}" />
            </label>
        </div>

        <div ng-if="calendarView" class="agenda">
        </div>

        <div ng-if="(!isPopUp && !isHiddenFields)" class="row segnala-photo" ng-click="takePicture()">
            <button class="button-clear">
                <i class="icon riciclo-camera icon-button"></i>
            </button>
            <div class="col">{{'take_picture' | translate}}</div>
        </div>
        <div ng-if="(!isPopUp && !isHiddenFields) && imgURI !== undefined" class="row segnala-image">
            <img ng-if="imgURI !== undefined" ng-src="{{imgURI}}">
        </div>

        <div ng-if="isPopUp" class="row segnala-photo" ng-click="showAlert()">
            <button class="button-clear">
                <i class="icon riciclo-camera icon-button"></i>
            </button>
            <div class="col">{{'take_picture' | translate}}</div>
        </div>
        <div ng-if="isPopUp && imgURI !== undefined" class="row segnala-image">
            <img ng-if="imgURI !== undefined" ng-src="{{imgURI}}">
        </div>

        <ion-checkbox class="checkbox-100r segnala-position" ng-model="attachPosition" ng-hide="!GPSPositions" ng-change="toggleAttachPosition()">
            {{'attach_your_position' | translate}}
        </ion-checkbox>

    </ion-content>

    <div class="bar bar-footer">
        <button class="button button-balanced button-block segnala-send" ng-click="sendEmail()" data-tap-disabled="true">
            <a>{{'submit_report' | translate }}</a>
        </button>
    </div>
</ion-view>
