<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Segnalazione" | translate}}</div>
            <div class="nav-title-sub">{{selectedProfile.name}}</div>
        </div>
    </ion-nav-title>

    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="row button button-icon ion-navicon">
            <img ng-if="!noteSelected" class="nav-button-app-logo" src="img/ic_launcher.png">
        </button>
    </ion-nav-buttons>-->

    <ion-content class="segnala">
        <div class="segnala-desc">
            {{'Invia' | translate}}
        </div>
        <div ng-if="tipiSegnalazioni.length > 1">
            <div class="segnala-desc">{{'Scegli una categoria:' | translate}}</div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <ion-radio ng-repeat="item in tipiSegnalazioni" ng-model="signal.selectedTipoSegnalazione" ng-value="item">{{item.tipologia}}</ion-radio>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-input-inset segnala-text-input">
            <input type="text" class="col" ng-model="msg.text" placeholder="{{'Inserisci qui il testo della segnalazione' | translate}}">
        </div>

        <!--<ion-item class="item-button-left">
            <button class="button button-icon">
                <i class="icon ion-camera"></i>
            </button>
            {{'Scatta una foto' | translate}}
        </ion-item>-->
        <div class="row segnala-photo" ng-click="takePicture()">
            <button class="button-clear">
                <img src="img/ic_camera.png" />
            </button>
            <div class="col">{{'Scatta una foto' | translate}}</div>
        </div>
        <div ng-show="imgURI !== undefined" class="row segnala-image">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        </div>

        <ion-checkbox class="checkbox-100r" ng-model="attachPosition">
            {{'Allega la tua posizione' | translate}}
        </ion-checkbox>

    </ion-content>

    <div class="bar bar-footer">
        <button class="button button-balanced button-block segnala-send" ng-click="sendEmail()">
            <a>{{'Segnala!' | translate }}</a>
        </button>
    </div>
</ion-view>
