<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Impostazioni" | translate}}</div>
            <div class="nav-title-sub">{{selectedProfile.name}}</div>
        </div>
    </ion-nav-title>

    <ion-content class="settings padding">

        <ion-toggle ng-if="!isWebView" ng-model="settings.enableNotifications" toggle-class="toggle-100r" ng-change="saveSettings()">Notifiche</ion-toggle>
        <div class="setting-info">{{'settings_info' | translate}}</div>

        <div class="padding-top">
            <label class="item item-input">Categorie di notifiche</label>
            <ion-checkbox ng-class="{'checkbox-100r': !!settings.enableNotifications, 'checkbox-light': !settings.enableNotifications}" ng-repeat="pap in papTypes" ng-model="settings.papTypes[pap]" ng-change="saveSettings()" ng-disabled="!settings.enableNotifications">
                {{pap}}
            </ion-checkbox>
        </div>

        <div class="padding-top">
            <!--<label>Desidero ricevere le notifiche alle</label>
            <button class="button button-100r-select icon-right ion-arrow-down-b"></button>-->

            <!--<label>Desidero ricevere le notifiche alle</label>
            <ionic-time-picker etime="settings.notificationsTime" format="timepickerSlots.format" step="timepickerSlots.step">
                {{settings.notificationsTime}}
            </ionic-time-picker>-->

            <label class="item item-input item-divider" ng-if="timingLoad">
                <div class="input-label">
                    Orario notifiche
                </div>
                <ionic-time-picker etime="settings.notificationsTime" format="timepickerSlots.format" step="timepickerSlots.step" ng-disabled="!settings.enableNotifications">
                    {{settings.notificationsTime}}
                </ionic-time-picker>
            </label>

            <!--<label class="item item-input item-select">
                <div class="input-label">
                    Desidero ricevere le notifiche alle
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>-->
        </div>
    </ion-content>
</ion-view>
