<ion-view>
    <ion-nav-title>
        <div class="nav-title">
            <div class="nav-title-main">{{"Impostazioni" | translate}}</div>
            <div class="nav-title-sub">{{selectedProfile.name}}</div>
        </div>
    </ion-nav-title>

    <ion-content class="segnala padding">
        <!--<ion-toggle ng-model="enableNotifications" toggle-class="toggle-100r">Notifiche</ion-toggle>
        <label>Desidero ricevere notifiche riguardanti</label>
        <ul class="list"></ul>-->
    </ion-content>
</ion-view>
